version: 2
jobs:
  build-and-test:
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      FL_OUTPUT_DIR: output
    macos:
      xcode: "10.0.0"
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - restore_cache:
          keys:
            - carthage
      - run: sh bootstrap-if-needed.sh
      - run: brew install xcodegen
      - run: xcodegen generate
      - run: bundle install
      - run:
          name: Run tests
          command: bundle exec fastlane tests 
      - store_test_results:
          path: fastlane/test_output 
      - save_cache:
          key: carthage 
          paths:
            - "Carthage"
workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
